<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiyanshi.dashuju.Mapper.HistoryDataMapper">

    <resultMap id="History" type="com.shiyanshi.dashuju.Pojo.Equipment_message">
        <id column="Equipment_Main_id" property="Equipment_Main_id"/>
        <id column="Monitor_id" property="Monitor_id"/>
        <id column="Time1" property="Time1"/>
        <result column="Monitor_name" property="Monitor_name"/>
        <result column="Mequipment_name" property="Mequipment_name"/>
        <result column="Vaule" property="Vaule"/>

        <collection property="equipment_main" column="Id" ofType="com.shiyanshi.dashuju.Pojo.Equipment_Main">
            <id column="Id" property="Idm"/>
            <result column="Equipment_name" property="Equipment_name"/>
        </collection>

        <collection property="calculation" column="idc" ofType="com.shiyanshi.dashuju.Pojo.Calculation">
            <result column="Gateway" property="Gateway"/>
            <result column="Access_name" property="Access_name"/>
            <result column="MaxValue1" property="MaxValue1"/>
            <result column="MinValue" property="MinValue"/>
            <result column="StandardValue" property="StandardValue"/>
            <result column="Formula" property="Formula"/>
            <result column="Em_Equipment_name" property="Em_Equipment_name"/>
            <result column="Em_Monitor_id" property="Em_Monitor_id"/>
            <result column="Em_Equipment_name_id" property="Em_Equipment_name_id"/>
            <result column="Em_Monitor_name" property="Em_Monitor_name"/>
        </collection>

        <collection property="main_monitor" column="Main_monitor_id" ofType="com.shiyanshi.dashuju.Pojo.Main_Monitor">
            <id column="Main_monitor_id" property="Main_monitor_id"/>
            <result column="Main_monitor_name" property="Main_monitor_name"/>
        </collection>

    </resultMap>

    <!--&gt;表示 > ,&lt; 表示<  -->
    <select id="findHistoryRecord" resultType="com.shiyanshi.dashuju.Pojo.Equipment_message" resultMap="History">
        select Equipment_message.Vaule,Equipment_message.Time1 from Equipment_message
        where Equipment_message.Mequipment_name = #{mequipment_name}
        and Equipment_message.Monitor_name = #{monitor_name}
        and date_format(Time1,'%Y-%m-%d %h:%m:%s') &gt;= #{time1,jdbcType=TIMESTAMP}
        and date_format(Time1,'%Y-%m-%d %h:%m:%s') &lt;= #{time2,jdbcType=TIMESTAMP}
    </select>

</mapper>
